body {
	height: 100%;
	background: url(../assets/img/bkg.jpg);
	background-attachment: fixed;
}

div.wrapper {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

header {
	margin: 0;
	padding-top: 70px;
	.container {
		width: 90%;
		margin: 0 auto;
		max-width: 1200px;
		padding: 0;
	}
	.details, .moreInfo {
		float: left;
	}
	.details {
		width: 65%;
		padding-right: 20px;
		border-right: 1px dotted $primaryColour;
	}
	.moreInfo {
		width: 35%;
		padding-left: 20px;
	}
}



.loading {

}

// form,
// section.countryData {
// 	float: left;
// }

form {
	width: 100%;
	// overflow: hidden;
	// display: none;
	-webkit-transition: opacity 0.9s;
	transition: opacity 0.9s;
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	fieldset {
		margin: 0;
		border: none;
		position: relative;
		// border-right: 1px solid white;
		&:first-of-type, &:nth-of-type(2) {
			&:after {
				display: inline-block;
				content: 'or';
				position: absolute;
				top:10px;
				color: $primaryColour;
				font-size: $fontSize*1.2;
				letter-spacing: 2px;
			}
		}
		&:first-of-type {
			&:after {
				right: 50px;
			}
		}
		&:nth-of-type(2){
			&:after {
				right: 0;
			}
		}
		&:last-of-type {
			// border-right: none;
		}
		// visibility: hidden;
	}
	fieldset:nth-child(2){
		padding-left: 50px;
	}
}

#searchButton {
	position: absolute;
	top: 10px;
	right: 70px;
}


#countryList {
	display: none;
}

.countries, .ui-autocomplete {
	border: none;
	background: none;
	box-shadow: none;
	option, .ui-menu-item {
		padding: 10px;
		border: none;
		box-shadow: none;
	}
}

select.countries {
	width: 100%;
	border-radius: 0 0 7px 7px;
	display: none;
}

#searchCountry {
	position: relative;
	#searchButton {
		position: absolute;
		right: 0;
		top: 0;
	}
}

section.countryData {
	margin: 40px auto;
	min-height: 500px;
	padding: 30px;
	text-align: center;
	background: rgba(250,250,250,0.3);
	visibility: hidden;
	// display: none;
	div.default {
		width: 70%;
		margin: 80px auto;
		// display: none;
	}
	div.data {
		margin: 0 auto;
	}
}
div.dataInfo,
div.three,
div.two, 
div.one {
	display: none;
}

div.legend {
	margin: 20px 0 50px;
	h5 {
		width: 10%;
		display: inline-block;
	}
	h5, i {
		margin-right: 5px;
	}
	#haves {
		color: #a2af9f;
	}
	#have-nots {
		color: #8a6755;
	}
}


#total, .stats {
	// float: left;
}

#total, #rural, #urban, #area1, #area2, #area {
	// width: 85%;
	div.chart {
		div {
		width: 100%;
		min-width: 300px;
		max-width: 350px;
		min-height: 300px;
		max-height: 350px;
		margin: 0 auto;
		}
	}
	
}

#total, #rural, #urban, #area1, #area2, #area {
	margin-bottom: 40px;
	.chart {
		margin-bottom: 20px;
	}
}

// #rural,
// #urban {
// 	float: left;
// 	width: 50%;
// 	min-height: 200px;
// 	max-height: 250px;
// 	text-align: center;	
// }
#total > div,
#rural > div, 
#urban > div,
#area > div,
#area1 > div, 
#area2 > div
 {
	width: 100%;
}

// #rural {
// 	padding-right: 5%;
// }

// #urban {
// 	padding-left: 5%;
// }

div.error {
	text-align: center;
	display: none;
	object {
		margin-top: 50px;
		width: 250px;
		height: 250px;
		display: inline-block;
		svg {
			width: 100%;
		}
	}
}

.stats {
	width: 55%;
}

footer {
	width: 100%;
	padding: 30px 20px;
}





