body {
	height: 100%;
	background: url(../assets/img/bkg.jpg);
	background-attachment: fixed;
}

div.wrapper {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

header {
	margin: 0;
	padding-top: 70px;
	.container {
		width: 90%;
		margin: 0 auto;
		max-width: 1200px;
		padding: 0;
	}
	.details, .moreInfo {
		float: left;
	}
	.details {
		width: 65%;
		padding-right: 20px;
		border-right: 1px dotted $primaryColour;
	}
	.moreInfo {
		width: 35%;
		padding-left: 20px;
	}
}
form, section.countryData, footer {
	position: relative;
	top: -40px;
}
form {
	opacity: 0;
	-webkit-transition: opacity 0.9s;
	transition: opacity 0.9s;
	label {
		display:none;
	}
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	fieldset.mainSearch {
		min-width: 380px;
		margin: 0 auto;
		border: none;
		position: relative;
		text-align: center;
		input {
			width: 75%;
			text-align: center;
		}
	}
}

#searchButton {
	position: absolute;
	right: 7%;
	bottom: 25%;
}

#searchCountry {
	position: relative;
	#searchButton {
		position: absolute;
		right: 0;
		top: 0;
	}
}

section.countryData {
	width: 90%;
	margin: 40px auto 10px;
	// padding: 30px;
	text-align: center;
	visibility: hidden;
	div.default {
		width: 70%;
		margin: 0 auto;
	}
	div.data {
		margin: 0 auto;
	}
}
div.dataInfo,
div.three,
div.two, 
div.one {
	display: none;
}

div.chartContainer {
	float: left;
	margin: 0;
}

div.three {
	div.chartContainer {
		width: 33.3333%;
	}
}

div.two {
	div.chartContainer {
		width: 50%;
	}
}

div.one {
	div.chartContainer {
		float: none;
		width: 40%;
		margin: 0 auto;
	}
}

div.legend {
	margin: 20px 0 50px;
	h5 {
		display: inline-block;
		width: 15%;
		min-width: 113px;
	}
	i {
		margin-right: 5px;
	}
	#haves {
		color: #a2af9f;
		margin-right: 2%;
	}
	#have-nots {
		color: #8a6755;
	}
}

#total, #rural, #urban, #area1, #area2, #area {
	div.chart {
		div {
		width: 100%;
		max-width: 350px;
		max-height: 350px;
		margin: 0 auto;
		background: rgba(250, 250, 250, 0.4);
		border-radius: 50%;
		}
	}
	
}

#total, #rural, #urban, #area1, #area2, #area {
	margin-bottom: 40px;
	.chart {
		margin-bottom: 5%;
	}
}

#total > div,
#rural > div, 
#urban > div,
#area > div,
#area1 > div, 
#area2 > div
 {
	width: 100%;
}

.universal {
	display: none;
}

div.error {
	text-align: center;
	display: none;
	position: relative;
	object {
		width: 250px;
		height: 250px;
		display: inline-block;
		svg {
			width: 100%;
		}
	}
}

.stats {
	width: 55%;
}

button.info {
	float: right;
}

// p.about-data {
// 	width: 45%;
// 	margin-left: 5%;
// }

footer {
	width: 100%;
	padding: 0 40px;
	margin-top: 130px;
	clear: right;
	visibility: hidden;
	.fa-info-circle {
		position: relative;
		top: 1px;
	}
}

div#dataLoad {
	h2 {
		display: none;
	}
}





