@media all and (max-width: 860px){
	button#searchButton {
		padding: 12px;
		position: static;
		display: block;
		text-align: center;
		margin: 15px auto 0;
		right: 0;
	}
}

@media all and (max-width: 840px){
	input[name="searchCountry"] {
		font-size: $fontSize*2;
	}
}

@media all and (min-height: 790px){
	body {
		background: url(../assets/img/bkg.jpg) no-repeat;
		background-size: cover;
	}
}

@media all and (max-width: 790px){
	div.site-details, div.more-info {
		width: 100%;
	}
	div.site-details {
		text-align: left;
		margin-top: 30px;
	}
	#searchButton {
		right: 5%;
	}
}

@media all and (max-width: 750px){
	div.three div.chartContainer {
		width: 50%;
		margin: 0 auto;
		float: none;
	}
}

@media all and (max-width: 600px){
	#pageLoad {
		width: 45%;
		object:first-of-type, #pageLoad object:nth-of-type(2) {
			margin-right: 5%;
		}
		object {
			width: 30%;
		}
	}
	h1 {
		margin-bottom: 12px;
		span.who {
			font-size: 3.8rem;
		}
		span.sanitation {
			font-size: 6.8rem;
		}
	}
	form fieldset.mainSearch {
		input {
			width: 95%;
		}
	}
	section.countryData div.default {
		width: 90%;
		margin-top: 30px;
		p {
			font-size: 2.5rem;
		}
	}
	input[name="searchCountry"] {
		font-size: $fontSize*1.7;
		margin: 0 auto;
	}
}

@media all and (max-width: 470px){
	header {
		padding-top: 30px;
	}
	h1 {
		margin-bottom: 12px;
		text-align: center;
		padding-bottom: 35px;
		span.who {
			font-size: 3.2rem;
		}
		span.sanitation {
			font-size: 5rem;
		}
	}
	form fieldset.mainSearch {
		input {
			width: 83%;
		}
	}
	button#searchButton {
		padding: 12px;
		right: 4%;
	}
	section.countryData div.default {
		p {
			text-align: center;
			&:first-of-type {
				display: none;
			}
		}
	}
	section.countryData h3 {
		width: 100%;
		font-size: 2rem;
	}
	div.three div.chartContainer {
		width: 100%;
	}
}

@media all and (max-width: 420px){

}

@media all and (max-width: 320px){
	body {
		background: url(../assets/img/bkg.jpg) no-repeat;
		background-size: cover;
	}
	header {
		width: 95%;
		margin: 0 auto;
	}
	h1 {
		margin-bottom: 12px;
		text-align: center;
		padding-bottom: 35px;
		span.who {
			font-size: 2.6rem;
		}
		span.sanitation {
			font-size: 4.2rem;
		}
	}
	#pageLoad {
		width: 60%;
	}
	section.countryData div.default {
		p {
			display: none;
		}
	}
	form fieldset.mainSearch {
		min-width: 0;
		input {
				
			width: 100%;
		}
	}

	footer {
		padding: 0 20px;
	}
	div.more-info {
		padding-bottom: 30px;
		h3, ul {
			display: none;
		}
	}
	p.about-data {
		font-size: 1.3rem;
	}
}