// $bodyBkg: #ddd5be;
$bodyBkg: #fff;
// $primaryColour: #7f4f27;
$primaryColour: #fff;
// $secondaryColour: #4f464d;
$secondaryColour: #726756;
$link: darken($secondaryColour, 25);
// $hover: darken($link,35);


@font-face {
    font-family: 'corehumanistsansregular';
    src: url('../assets/fonts/corehumanistsans_regular_macroman/CoreHumanistSans-Regular-webfont.eot');
    src: url('../assets/fonts/corehumanistsans_regular_macroman/CoreHumanistSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/corehumanistsans_regular_macroman/CoreHumanistSans-Regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/corehumanistsans_regular_macroman/CoreHumanistSans-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/corehumanistsans_regular_macroman/CoreHumanistSans-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/corehumanistsans_regular_macroman/CoreHumanistSans-Regular-webfont.svg#corehumanistsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url("http://fonts.googleapis.com/css?family=Questrial");

$headerFont: 'corehumanistsansregular';
$primaryFont: 'Questrial';
$fontSize: 1.6rem;

@mixin fontStack {
	font-family: $primaryFont, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

